development/webservices/GenericTicketConnector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="GenericTicketConnector"
    targetNamespace="http://www.otrs.org/TicketConnector/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.otrs.org/TicketConnector/">
    <wsdl:documentation></wsdl:documentation>
    <!-- Warning: This WSDL file is for Development and Test purposes ONLY! -->
    <wsdl:types>
        <xsd:schema
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.otrs.org/TicketConnector/">
            <xsd:element
                name="in"
                type="xsd:string"></xsd:element>
            <xsd:element
                name="out"
                type="xsd:string"></xsd:element>
            <xsd:complexType name="TicketCreate"></xsd:complexType>
            <xsd:complexType name="OTRS_TicketCreate">
                <xsd:sequence>
                    <xsd:element
                        name="Ticket"
                        type="tns:OTRS_Ticket"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Article"
                        type="tns:OTRS_Article"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="DynamicField"
                        type="tns:OTRS_DynamicField"
                        maxOccurs="unbounded"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Attachment"
                        type="tns:OTRS_Attachment"
                        maxOccurs="unbounded"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="PendigTime"
                        type="tns:OTRS_PendingTime"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_Ticket">
                <xsd:sequence>
                    <xsd:element
                        name="Title"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="QueueID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Queue"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="TypeID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Type"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="ServiceID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Service"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="0">
                        <xsd:element
                            name="SLAID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SLA"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="StateID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="State"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="PriorityID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Priority"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="OwnerID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Owner"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="ResponsibleID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Responsible"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="CustomerNo"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="CustomerUser"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="UserID"
                        type="xsd:int"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_Article">
                <xsd:sequence>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="ArticleTypeID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="ArticleType"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="SenderTypeID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="SenderType"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element
                        name="From"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="To"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Subject"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Body"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="MimeType"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Charset"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="UserID"
                        type="xsd:positiveInteger"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="HistoryType"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="HistoryComment"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="AutoResponseType"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>

                    <xsd:element
                        name="OrigHeader"
                        type="tns:OTRS_OrigHeader"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_OrigHeader">
                <xsd:sequence>
                    <xsd:element
                        name="From"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="To"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element
                        name="Subject"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Body"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_DynamicField">
                <xsd:sequence>
                    <xsd:element
                        name="Name"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:choice
                        maxOccurs="1"
                        minOccurs="1">
                        <xsd:element
                            name="Value"
                            type="xsd:int"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Value"
                            type="xsd:string"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="Value"
                            type="xsd:dateTime"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_Attachment">
                <xsd:sequence>
                    <xsd:element
                        name="Filesize"
                        type="xsd:long"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ContentType"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Filename"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Content"
                        type="xsd:base64Binary"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_PendingTime">
                <xsd:sequence>
                    <xsd:element
                        name="Year"
                        type="xsd:positiveInteger">
                    </xsd:element>
                    <xsd:element
                        name="Month"
                        type="xsd:positiveInteger">
                    </xsd:element>
                    <xsd:element
                        name="Day"
                        type="xsd:positiveInteger">
                    </xsd:element>
                    <xsd:element
                        name="Hour"
                        type="xsd:positiveInteger">
                    </xsd:element>
                    <xsd:element
                        name="Minute"
                        type="xsd:positiveInteger">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OTRS_TicketCreateResponse">
                <xsd:sequence>
                    <xsd:element
                        name="TicketID"
                        type="xsd:positiveInteger"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="NewElement"
                        type="xsd:positiveInteger"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Error"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="TicketCreateRequest">
        <wsdl:part
            name="TicketCreateRequest"
            type="tns:OTRS_TicketCreate">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TicketCreateResponse">
        <wsdl:part
            name="TicketCreateResponse" type="tns:OTRS_TicketCreateResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GenericTicketConnector_Interface">
        <wsdl:documentation>Warning: This WSDL file is for Development and Test purposes ONLY!
</wsdl:documentation>
        <wsdl:operation name="TicketCreate">
            <wsdl:input message="tns:TicketCreateRequest"></wsdl:input>
            <wsdl:output message="tns:TicketCreateResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
        name="GenericTicketConnector_Service"
        type="tns:GenericTicketConnector_Interface">
        <soap:binding
            style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="TicketCreate">
            <soap:operation
                soapAction="http://www.otrs.org/TicketConnector/TicketCreate" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GenericTicketConnector">
        <wsdl:port name="GenericTicketConnector_endPoint" binding="tns:GenericTicketConnector_Service">
            <soap:address location="http://localhost/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnector" />
        </wsdl:port>
    </wsdl:service></wsdl:definitions>