development/webservices/GenericTicketConnectorREST.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="OTRSGenericTicketConnectorREST" xml:lang="en"/>
  <resources base="http://localhost/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST">
    <resource id="Ticket" path="Ticket">
      <doc title="Ticket" xml:lang="en"/>
      <param default="" name="UserLogin" required="false" style="query" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param default="" name="Password" required="false" style="query" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <param default="" name="SessionID" required="false" style="query" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <resource id="TicketID" path="{TicketID}">
        <doc title="" xml:lang="en"/>
        <param default="" name="TicketID" required="false" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <method id="GET_TicketGet" name="GET">
          <doc title="GET_TicketGet" xml:lang="en"/>
          <request/>
          <response status="200">
            <representation element="ns:Response" mediaType="application/json; charset=UTF-8" xmlns:ns="http://localhost/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket/1"/>
          </response>
        </method>
        <method id="PATCH_TicketUpdate" name="PATCH">
          <doc title="PATCH_TicketUpdate" xml:lang="en">TicketUpdate parameters must be specified in request body in JSON format</doc>
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response status="">
            <representation mediaType="application/json"/>
          </response>
          <response status="500">
            <representation element="data" mediaType="text/plain; charset=UTF-8"/>
          </response>
          <response status="200">
            <representation element="tic:Response" mediaType="application/json; charset=UTF-8" xmlns:tic="http://localhost/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket/"/>
          </response>
        </method>
      </resource>
      <method id="GET_TicketSearch" name="GET">
        <doc title="GET_TicketSearch" xml:lang="en"/>
        <request/>
        <response status="200">
          <representation mediaType="application/json; charset=UTF-8"/>
        </response>
      </method>
      <method id="POST_TicketCreate" name="POST">
        <doc title="POST_TicketCreate" xml:lang="en">TicketCreate parameters must be specified in request body in JSON format</doc>
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="200">
          <representation mediaType="application/json; charset=UTF-8"/>
        </response>
      </method>
    </resource>
    <resource id="Session" path="Session">
      <doc title="Session" xml:lang="en"/>
      <resource id="SessionID" path="{SessionID}">
        <doc title="" xml:lang="en"/>
        <param default="" name="SessionID" required="false" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <method id="GET_SessionGet" name="GET">
          <doc title="GET_SessionGet" xml:lang="en"/>
          <request/>
          <response status="200">
            <representation element="ns:Response" mediaType="application/json; charset=UTF-8" xmlns:ns="http://localhost/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Session/1"/>
          </response>
        </method>
      </resource>
      <method id="POST_SessionCreate" name="POST">
        <doc title="POST_SessionCreate" xml:lang="en"/>
        <request>
          <param default="" name="UserLogin" required="true" style="query" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          <param default="" name="Password" required="true" style="query" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          <representation mediaType="application/json"/>
        </request>
        <response status="404">
          <representation mediaType="text/html; charset=iso-8859-1"/>
        </response>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="500">
          <representation mediaType="text/plain; charset=UTF-8"/>
        </response>
        <response status="200">
          <representation mediaType="application/json; charset=UTF-8"/>
        </response>
      </method>
    </resource>
    <resource id="TicketHistory" path="TicketHistory">
      <doc title="TicketHistory" xml:lang="en"/>
      <resource id="TicketHistoryTicketID" path="{TicketID}">
        <doc title="{TicketID}" xml:lang="en"/>
        <param default="TicketID" name="TicketID" required="true" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <param default="" name="UserLogin" required="true" style="query" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <param default="" name="Password" required="true" style="query" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        <method id="GET_TicketHistoryGet" name="GET">
          <doc title="GET_TicketHistoryGet" xml:lang="en"/>
          <request/>
          <response status="0">
            <representation element="data" mediaType=""/>
          </response>
          <response status="500">
            <representation element="data" mediaType="text/plain; charset=UTF-8"/>
          </response>
          <response status="200">
            <representation mediaType="application/json; charset=UTF-8"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>